.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.color-1{
  fill:#2bdbdc;
  isolation:isolate
}
.cls-1{
  opacity:0.1
}
.cls-2{
  opacity:0.2
}
.cls-3{
  opacity:0.4
}
.cls-4{
  opacity:0.6
}

.color-2{fill:#0067f4;isolation:isolate;}.cls-1{opacity:0.1;}.cls-2{opacity:0.2;}.cls-3{opacity:0.4;}.cls-4{opacity:0.6;}

.color-3{
  fill:#4da422;
  isolation:isolate;
}
.cls-1{
  opacity:0.1;
}
.cls-2{
  opacity:0.2;
}
.cls-3{
  opacity:0.4;
}
.cls-4{
  opacity:0.6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


